body{
    background-color: bisque;
    margin: 0;
}
header{
    display: flex;
    flex: auto;
    justify-content:space-evenly;
    background-color: mediumslateblue;
    font-size: larger;
    color: azure;
    align-items: center;
}
 
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    font-size: xx-large;
}
#question{
    border: 3px solid black;
    padding: 1rem 4rem;
    border-radius: 10px;
}
.box{
    padding: 3rem 8rem;
    border: 3px solid black;
    border-radius: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

}
.aBtn{ 
    background-color: yellow;
    padding: 10px 10px;
    border-radius: 20px; 
}
.aBtn:hover{
    opacity: 70%;
}
.btn{
    background-color: yellow;
    color: mediumslateblue;
    padding: 10px 30px;
    border-radius: 20px;
    text-align: center;
    font-size: larger;
    height: fit-content;
    margin-top: 1rem;
}
.btn:hover:Not([disabled]){
 opacity: 70%;
}
#Next{
    display: none;
}
#Restart{
    display: none;
}


#highScores{
    display:none;
    list-style:upper-roman;

}

#input-score{
    display: none;
}
.correct{
    background-color: green;
    
}
.Incorrect{
    background-color: red;
    
}

#submit{
    display: none;
}
#final-score{
    text-align: center;
}

